<header class="header">
    <div class="header-content">
      <div class="header-left">
        <img src="assets/logoheader.png" alt="Logo" class="header-logo">
      </div>
      <nav class="header-center">
        <ul class="nav-links">
          <li class="nav-link">
            <img src="assets/org.jpg" alt="Organization Icon">
            <span>Organization Structure</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </li>
          <li class="nav-link">
            <img src="assets/config.jpg" alt="Configurations Icon">
            <span>Configurations</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </li>
          <li class="nav-link">
            <img src="assets/reports.jpg" alt="Reports Icon">
            <span>Reports</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </li>
          <li class="nav-link">
            <img src="assets/etl.jpg" alt="ETL Icon">
            <span>ETL</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </li>
        </ul>
      </nav>
      <div class="header-right">
        <div class="header-right-icons">
          <img src="assets/flag.png" alt="indian flag" class="indian_flag">
          <img src="assets/bell.png" alt="indian flag" class="indian_flag">
        </div>
        <div class="user-profile">
          <img src="assets/user.png" alt="User Profile" class="user-icon">
        </div>
      </div>
      
    </div>
  </header>
  